services:
  backend:
    container_name: backend
    restart: on-failure
    build:
      context: .
      dockerfile: docker/backend.dockerfile
    environment:
      DATABASE_DIALECT: "$DATABASE_DIALECT"
      DATABASE_DRIVER: "$DATABASE_DRIVER"
      DATABASE_USERNAME: "$DATABASE_USERNAME"
      DATABASE_PASSWORD: "$DATABASE_PASSWORD"
      DATABASE_HOST: "$DATABASE_HOST"
      DATABASE_PORT: "$DATABASE_PORT"
      DATABASE_NAME: "$DATABASE_NAME"
    ports:
      - "8000:8000"

  ui:
    container_name: ui
    restart: on-failure
    build:
      context: .
      dockerfile: docker/ui.dockerfile
    environment:
      BACKEND_URL: "${BACKEND_URL:-http://backend:8000}"
    ports:
      - "8501:8501"
    depends_on:
      - backend
