networks:
  dev_network:
    driver: bridge

services:
  redis:
    image: redis:8.2.1
    container_name: dev_redis
    ports:
      - "6379:6379"
    networks:
      - dev_network

  celery_worker:
    build:
      context: .
      dockerfile: docker/celery_worker.dockerfile
    container_name: dev_celery_worker
    restart: on-failure
    environment:
      DATABASE_URL: "postgresql+asyncpg://postgres:postgres@postgres:5432/postgres"
      MINIO_ENDPOINT: "minio:9000"
      MINIO_ACCESS_KEY: "access_key"
      MINIO_SECRET_KEY: "secret_key"
      QDRANT_URL: "http://qdrant:6333"
      CELERY_BROKER_URL: "redis://redis:6379/0"
      CELERY_RESULT_BACKEND: "redis://redis:6379/1"
    networks:
      - dev_network
    depends_on:
      - redis

  celery_beat:
    build:
      context: .
      dockerfile: docker/celery_beat.dockerfile
    container_name: dev_celery_beat
    restart: on-failure
    environment:
      CELERY_BROKER_URL: "redis://redis:6379/0"
      CELERY_RESULT_BACKEND: "redis://redis:6379/1"
    networks:
      - dev_network
    depends_on:
      - celery_worker
