services:
  api:
    container_name: api
    restart: on-failure
    build:
      context: .
      dockerfile: docker/api.dockerfile
    environment:
      DATABASE_URL: "${DATABASE_URL}"
    ports:
      - "8000:8000"
    depends_on:
      - celery_worker

  celery_worker:
    container_name: celery_worker
    restart: on-failure
    build:
      context: .
      dockerfile: docker/celery_worker.dockerfile
    depends_on:
      - redis
        
  celery_beat:
    container_name: celery_beat
    restart: on-failure
    build:
      context: .
      dockerfile: docker/celery_beat.dockerfile
    depends_on:
      - celery_worker

  celery_exporter:
    container_name: celery_exporter
    restart: on-failure
    build:
      context: .
      dockerfile: docker/celery_exporter.dockerfile
    ports:
      - "9000:9000"

  flower:
    image: mher/flower:2.0
    container_name: flower
    environment:
      CELERY_BROKER_URL: "${CELERY_BROKER_URL:-redis://redis:6379/0}"
      RESULT_BACKEND: "${CELERY_RESULT_BACKEND:-redis://redis:6379/1}"
    ports:
      - "5555:5555"
    depends_on:
      - redis

  redis:
    image: redis:8.2.1
    container_name: redis
    ports:
      - "6379:6379"

  prometheus:
    image: prom/prometheus:v3.6.0-rc.1
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    depends_on:
      - celery_exporter

#  ui:
#    container_name: ui
#    restart: on-failure
#    build:
#      context: .
#      dockerfile: docker/ui.dockerfile
#    environment:
#      BACKEND_URL: "${BACKEND_URL:-http://backend:8000}"
#    ports:
#      - "8501:8501"
#    depends_on:
#      - backend

volumes:
  prometheus_data:
